@*<div class="row">*@
    <div data-bind="template: 'tableauTemplate'"></div>
@*</div>*@

<script id="tableauTemplate" type="text/html">
    <div data-bind="foreach: groupedListIndexes()">
        <div class="row" data-bind="foreach: $parent.lists.slice($data, $data + 6)">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span data-bind="text: name"></span>
                        <div class="badge squarebadge" title="Temps total" data-bind="visible: hasCards">
                            <span class="glyphicon glyphicon-time"></span>
                            <span class="badge-text" data-bind="text: totalTime"></span>
                        </div>
                    </div>
                    <div class="panel-body" data-bind="sortable: { data: cards, allowDrop: true }">
                        @*Panel content*@
                        <div class="panel panel-default" data-bind="click: $root.editCard">
                            <div class="panel-heading card-heading">
                                <div class="row no-margin">
                                    <div class="col-xs-5 no-padding">
                                        Demande <span data-bind="text: demande"></span>
                                    </div>
                                    <div class="col-xs-4 no-padding">
                                        <div class="progress progress-mini progress-striped" data-bind="visible: percentComplete() > 0">
                                            <div class="progress-bar progress-bar-purple" data-bind="style: {width: percentComplete() + '%' }"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 no-padding">
                                        <div class="widget-toolbar">
                                            <div class="inline dropdown-hover">
                                                <i class="icon-cog clickable"></i>
                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close pull-right">
                                                    <li>
                                                        <a data-action="settings" href="#" data-bind="click: archiveCard">
                                                            <span>
                                                                <i class="icon-archive"></i> <span data-bind="text: $parents[2].displayArchive() ? 'Récuperer' : 'Archiver'">Archiver</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-action="settings" href="#">
                                                            <span> <i class="icon-move"></i> Deplacer...</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="inline pull-right position-relative dropdown-hover">
                                                <i class="icon-remove clickable-red"></i>
                                                <ul class="dropdown-menu dropdown-only-icon dropdown-danger dropdown-caret dropdown-close pull-right">
                                                    <li>
                                                        <a title="" href="#" data-bind="click: $parent.deleteCard">
                                                            <span>
                                                                <i class="icon-trash"></i> Supprimer
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-labels clearfix js-card-labels">
                                    @*<span class="card-label green-label"></span>
                                    <span class="card-label yellow-label"></span>
                                    <span class="card-label orange-label"></span>
                                    <span class="card-label red-label"></span>
                                    <span class="card-label purple-label"></span>*@
                                </div>
                                <span class="card-text" data-bind="text: titre"></span>
                            </div>
                            <div class="panel-footer card-footer">
                                <div class="badges">
                                    <div class="unread-notification badge squarebadge" data-bind="attr: { title: unseenFilesOrMsgText }, visible: hasUnseenFilesOrMsg()">
                                        <span class="glyphicon glyphicon-bell"></span>
                                        <span class="badge-text" data-bind="text: totalUnseenFilesAndMsg"></span>
                                    </div>
                                    <div class="badge squarebadge" data-bind="attr: { title: messagesText }">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        <span class="badge-text" data-bind="text: totalMessages"></span>
                                    </div>
                                    <div class="badge squarebadge" data-bind="attr: { title: attachementsText }">
                                        <span class="glyphicon glyphicon-paperclip"></span>
                                        <span class="badge-text" data-bind="text: totalFiles"></span>
                                    </div>
                                    @*<div class="badge squarebadge" data-bind="attr: { title: listText }, visible: hasList">
                                        <span class="glyphicon glyphicon-list"></span>
                                        <span class="badge-text"><span data-bind="text: listDone"></span>/<span data-bind="text: listMax"></span></span>
                                    </div>*@
                                    <div class="badge squarebadge" data-bind="attr: { title: timeText }, visible: hasTime">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <span class="badge-text" data-bind="text: toReadableTime()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*End PanelContent*@
                    </div>
                    <div class="panel-footer align-right">

                        <div class="btn-group" data-bind="visible: !parent().displayArchive()">
                            <button class="btn btn-xs btn-primary" data-bind="click: parent().openCardDetails">Nouvelle Carte</button>
                            <button class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="icon-caret-down icon-only"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-danger align-left">
                                <li data-bind="click: parent().deleteTable">
                                    <a href="#"><i class="icon-trash"></i> Supprimer</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-archive"></i> Archiver</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
