<div id="task-tab" class="tab-pane active">
    <h4 class="smaller lighter green">
        <i class="icon-list"></i>
        Sortable Lists
    </h4>

    <ul id="tasks" class="item-list">
        <li class="item-orange clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Answering customer questions</span>
            </label>

            <div class="pull-right easy-pie-chart percentage" data-size="30" data-color="#ECCB71" data-percent="42">
                <span class="percent">42</span>%
            </div>
        </li>

        <li class="item-red clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Fixing bugs</span>
            </label>

            <div class="pull-right action-buttons">
                <a href="#" class="blue">
                    <i class="icon-pencil bigger-130"></i>
                </a>

                <span class="vbar"></span>

                <a href="#" class="red">
                    <i class="icon-trash bigger-130"></i>
                </a>

                <span class="vbar"></span>

                <a href="#" class="green">
                    <i class="icon-flag bigger-130"></i>
                </a>
            </div>
        </li>

        <li class="item-default clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Adding new features</span>
            </label>

            <div class="inline pull-right position-relative dropdown-hover">
                <button class="btn btn-minier bigger btn-primary">
                    <i class="icon-cog icon-only bigger-120"></i>
                </button>

                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close pull-right">
                    <li>
                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Mark&nbsp;as&nbsp;done">
                            <span class="green">
                                <i class="icon-ok bigger-110"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                            <span class="red">
                                <i class="icon-trash bigger-110"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="item-blue clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Upgrading scripts used in template</span>
            </label>
        </li>

        <li class="item-grey clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Adding new skins</span>
            </label>
        </li>

        <li class="item-green clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Updating server software up</span>
            </label>
        </li>

        <li class="item-pink clearfix">
            <label class="inline">
                <input type="checkbox" class="ace" />
                <span class="lbl"> Cleaning up</span>
            </label>
        </li>
    </ul>
</div>