<div class="row">
    <div data-bind="template: 'tableauTemplate'"></div>
</div>

<script id="tableauTemplate" type="text/html">
    <div id="main" data-bind="foreach: tables">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span data-bind="text: name"></span>
                    <div class="badge squarebadge" title="Temps total" data-bind="visible: hasCards">
                        <span class="glyphicon glyphicon-time"></span>
                        <span class="badge-text" data-bind="text: totalTime"></span>
                    </div>
                </div>
                <div class="panel-body" data-bind="sortable: { data: cards, allowDrop: $root.isTableFull }">
                    @*Panel content*@
                    <div class="panel panel-default" data-bind="click: $root.editCard">
                        <div class="panel-heading card-heading">Demande <span data-bind="text: demande"></span></div>
                        <div class="card-body">
                            <div class="card-labels clearfix js-card-labels">
                                @*<span class="card-label green-label"></span>
                                    <span class="card-label yellow-label"></span>
                                    <span class="card-label orange-label"></span>
                                    <span class="card-label red-label"></span>
                                    <span class="card-label purple-label"></span>*@
                            </div>
                            <span class="card-text" data-bind="text: titre"></span>
                        </div>
                        <div class="panel-footer card-footer">
                            <div class="badges" data-bind="with: evenements">
                                <div class="unread-notification badge squarebadge" data-bind="attr: { title: nouveauxText }, visible: hasUnread">
                                    <span class="glyphicon glyphicon-bell"></span>
                                    <span class="badge-text" data-bind="text: nombreNouveaux"></span>
                                </div>
                                <div class="badge squarebadge" data-bind="attr: { title: messagesText }">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span class="badge-text" data-bind="text: nombreMessages"></span>
                                </div>
                                <div class="badge squarebadge" data-bind="attr: { title: attachementsText }">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                    <span class="badge-text" data-bind="text: nombresAttachements"></span>
                                </div>
                                <div class="badge squarebadge" data-bind="attr: { title: listText }, visible: hasList">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span class="badge-text"><span data-bind="text: listDone"></span>/<span data-bind="text: listMax"></span></span>
                                </div>
                                <div class="badge squarebadge" data-bind="attr: { title: timeText }, visible: hasTime">
                                    <span class="glyphicon glyphicon-time"></span>
                                    <span class="badge-text" data-bind="text: toReadableTime()"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End PanelContent*@
                </div>
                <div class="panel-footer"><a href="#" data-bind="click: $parent.openCardDetails">Ajouter une carte...</a></div>
            </div>
        </div>
    </div>
</script>